* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Georgia', serif;
}

/*login*/
a {
    text-decoration: none;
    color: #2b3d43e0;
}
  
li {
    list-style: none;
}
  
.wrap {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #233136;
}
  
.login {
    width: 30%;
    height: 600px;
    background: #DADDDE;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
  
h2 {
    color: #233136;
    font-size: 2em;
}
.sns {
    padding: 20px;
    display: flex;
    
}
  
.sns li {
    padding: 0px 15px;
}
  
.sns a {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 50px;
    background: #9EAAAF;
    font-size: 20px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4), -3px -3px 5px rgba(0, 0, 0, 0.1);
}
  
.id {
    margin-top: 20px;
    width: 80%;
}
  
.id input {
    width: 100%;
    height: 50px;
    border-radius: 30px;
    margin-top: 10px;
    padding: 0px 20px;
    border: 1px solid ;
    outline: none;
}
  
.pw {
    margin-top: 20px;
    width: 80%;
}
  
.pw input {
    width: 100%;
    height: 50px;
    border-radius: 30px;
    margin-top: 10px;
    padding: 0px 20px;
    border: 1px solid #DADDDE;
    outline: none;
}
  
.etc {
    padding: 10px;
    width: 80%;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}
  
.submit {
    margin-top: 50px;
    width: 80%;
}
.submit input {
    width: 100%;
    height: 50px;
    border: 0;
    outline: none;
    border-radius: 40px;
    background: linear-gradient(to left, #2b3d43b4, #233136 );
    color: #DADDDE;
    font-size: 1.2em;
    letter-spacing: 2px;
}

/*find*/
.find_wrap{
    padding:20px 0 35px;
}
.find_wrap li{
    position:relative;
    display:inline-block;
}
.find_wrap li+li{
    padding-left:28px;
}
.find_wrap li+li::before{
    content:'';
    position:absolute;
    top:3px;
    left:12px;
    width:1px;
    height:12px;
    border-radius:.5px;
    background-color:#233136;
}
.find_wrap .en_find_text, .find_wrap .find_text, .en_find_text, .find_text{
    display:inline-block;
    font-size:14px;
    line-height:17px;
    text-decoration:none;
    color:#233136;
}

/*footer*/
#footer {
    width: 100%;
    height: 100px;
    background-color: #FDFDFD;
    clear: both;
    text-align: center;
}
.end_wrap{
    padding:20px 0 35px;
}
.end_wrap li{
    position:relative;
    display:inline-block;
}
.end_wrap li+li{
    padding-left:28px;
}
.end_wrap li+li::before{
    content:'';
    position:absolute;
    top:3px;
    left:12px;
    width:1px;
    height:12px;
    border-radius:.5px;
    background-color:#233136;
}
.end_wrap .en_end_text, .end_wrap .end_text, .en_end_text, .end_text{
    display:inline-block;
    font-size:14px;
    line-height:17px;
    text-decoration:none;
    color:#233136;
}